body{
    font-family: 'Manrope', sans-serif;
}


/* Для главного заголовка, контакты */
h1, .contacts-telephone, .contacts-link{
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
}

/* Для ссылок панели навигации, подвала, заголовков h2, ссылок бургера, заголовка секции контактов */
.navigation__link, .nav__link, h2, .span-nav, .burger-navigation__link, .contacts-header{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}


/* Для текста в секции "About" us и заголовков отзывов в секции "Reviews"  */
.about-us-paragraph, .box__header{
    font-weight: 400;
    font-size: 45px;
    line-height: 61px;
}

/* Для кнопки "Посмотреть услуги", текста в секции "Basic information" и item__link, текста в подвале сайта */
.about-us-btn, .header-paragraph, .item__link, .footer__header{
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}

.about-us-btn{
    line-height: 67px;
}

/* Для заголовков и кнопки в секции "Projects", заголовков и кнопки в секции "Services", описании проектов в галерее*/
.item__header, .projects__link-btn, .box-item__header, .services__btn, .gallery__content{
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
}

.projects__link-btn{
    line-height: 153px;
}

/* Стоимость проекта в секции "services", описание отзывов в секции "Reviews", заголовок галереи проектов */
.box-item__price, .box__content, .gallery__slide-header{
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
}

/* Бургер */
/* Для заголовков контактов в Бургере */
.burger__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

/* Для контактов в бургере */
.burger__telephone-link, .burger__email-link{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}


/* Popup */
/* Для заголовка в popup */
.popup__title{
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;
}

/* Для текста в popup */
.popup__text{
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
}

/* Поля ввода в popup */
.input{
    font-weight: 400;
    font-size: 20px;
    line-height: 49px;
}

/* Для кнопки в popup */
.popup__btn{
    font-weight: 400;
    font-size: 15px;
    line-height: 62px;
}


@media (max-width: 1149px){
    .header-main{
        font-size: 50px;
    }

    /* About Us */
    .about-us-paragraph{
        font-size: 35px;
        line-height: 48px;
    }

    /* Projects */
    .item__header{
        font-size: 25px;
        line-height: 34px;
    }

    /* Services */
    .box-item__header{
        font-size: 25px;
        line-height: 34px;
    }

    .box-item__price{
        font-size: 20px;
        line-height: 27px;
    }

    /* Two room apartment project */
    .gallery__slide-header{
        font-size: 20px;
        line-height: 27px;
    }

    .gallery__content{
        font-size: 25px;
        line-height: 34px;
    }

    /* Contacts */
    .contacts-header{ 
        font-size: 18px;
        line-height: 25px;
    }

    .contacts-telephone{
        font-size: 45px;
        line-height: 60px;
    }

    .contacts-link{
        font-size: 60px;
        line-height: 60px;
    }
}


@media (max-width: 730px){
    /* Basic Information */
    .header-main{
        font-size: 30px;
        line-height: 32px;
    }

    .header-paragraph{
        font-size: 16px;
        line-height: 22px;
    }

    /* About Us */
    .about-us-header{
        font-size: 14px;
        line-height: 19px;
    }

    .span-nav{
        font-size: 14px;
        line-height: 19px;
    }

    .about-us-paragraph{
        font-size: 22px;
        line-height: 30px;
    }

    .about-us-btn{
        line-height: 51px;
    }

    /* Projects */
    .projects__header{
        font-size: 14px;
        line-height: 19px;
    }

    .item__header{
        font-size: 18px;
        line-height: 25px;
    }

    .item__link{
        font-size: 16px;
        line-height: 22px;
    }

    .projects__link-btn{
        font-size: 22px;
        line-height: 100px;
    }

    /* Services */
    .services__header{
        font-size: 14px;
        line-height: 19px;
    }

    .box-item__header{
        font-size: 18px;
        line-height: 25px;
    }

    .box-item__price{
        font-size: 14px;
        line-height: 19px;
    }

    .services__btn{
        font-size: 22px;
        line-height: 30px;
    }

    /* POPUP */
    .popup__title{
        font-size: 25px;
        line-height: 34px;
    }
    
    .popup__text{
        font-size: 14px;
        line-height: 19px;
    }

    .popup__input{
        line-height: 45px;
        font-size: 18px;
    }

    /* Reviews */
    .reviews__header{
        font-size: 14px;
        line-height: 19px;
    }

    .box__header{
        font-size: 25px;
        line-height: 34px;
    }

    .box__content{
        font-size: 16px;
        line-height: 22px;
    }

    /* Two room apartment project */
    .gallery__slide-header{
        font-size: 14px;
        line-height: 19px;
    }

    .gallery__content{
        font-size: 19.0086px;
        line-height: 26px;
    }

    /* Contacts */
    .contacts-header{ 
        font-size: 14px;
        line-height: 19px;
    }

    .contacts-telephone{
        font-size: 35px;
        line-height: 46px;
    }

    .contacts-link{
        font-size: 35px;
        line-height: 46px;
    }

    /* Footer */
    .nav__link{
        font-size: 12px;
        line-height: 16px;
    }
    
    .footer__header{
        font-size: 13px;
        line-height: 18px;
    }
}